@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,500;0,600;0,700;0,900;0,1000;1,300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-family: "Mulish", sans-serif;
}

/* START: General styles */
.form {
  @apply flex flex-wrap-reverse justify-center items-baseline gap-[4rem]  p-5 text-white;
}
.form_field-input {
  @apply w-[85%] bg-transparent border-b-[1px] border-opacity-50 border-white outline-none focus:border-gray-300 mt-8 text-white p-4;
}
.form_label{
  @apply block mb-4 font-bold text-2xl
}
.form_button{
  @apply bg-text-green p-8 -bottom-10 right-[10rem] w-[8rem] h-[8rem] flex items-center justify-center text-[16px] font-bold text-black py-3 px-6 rounded-full absolute
}

.gallery-container{
  @apply flex flex-col gap-[5rem]
}
.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
.hero-container{
  @apply flex flex-wrap justify-center items-end gap-5 text-white p-5
}
.heading-hero{
  @apply text-[5rem] text-white leading-[5rem] tracking-[10px]
}
 .heading1 {
   @apply text-[64px] leading-[67.2px] font-bold;
  }
  
  .hero-text{
    @apply w-full font-extrabold flex flex-1 flex-col items-center justify-center
  }
  hero-bold{
    @apply flex flex-col
  }

  .image-container{
    @apply flex overflow-hidden
  }
  .max-width {
    @apply max-w-[1440px] mx-auto;
  }
  
  .padding-x {
    @apply sm:px-16 px-4;
  }
  
  .padding-y {
    @apply py-4;
  }
  
  .flex-center {
    @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-center items-center;
}

.span__color-one{
  @apply text-orange-600
}
.subtitle {
  @apply text-[15px]  text-gray-500 font-thin mt-5;
}
.title {
  @apply leading-6 2xl:text-[72px] sm:text-[34px] text-[50px] font-extrabold;
}



/* START: Footer styles */
.footer {
  @apply flex flex-col text-green-100  mt-5 border-t ;
}

.footer__links-container {
  @apply flex max-md:flex-col flex-wrap justify-between gap-5 sm:px-16 px-6 py-10;
}

.footer__rights {
  @apply flex flex-col justify-start items-start gap-6;
}

.footer__links {
  @apply flex-1 justify-center items-center w-full flex md:justify-end flex-wrap max-md:mt-10 gap-20;
}

.footer__link {
  @apply flex flex-col gap-6 text-base min-w-[170px];
}

.footer__copyrights {
  @apply flex justify-between items-center flex-wrap mt-10 border-t  sm:px-16 px-6 py-10;
}

.footer__copyrights-link {
  @apply flex-1  items-center flex-wrap flex sm:justify-end justify-center max-sm:mt-4 gap-10;
}
/* END: Footer styles */


/* Add this to your Tailwind CSS styles */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 10s linear infinite;  /* Adjust the animation duration based on your design */
}






 